*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    color:white;
    font-family: 'Merriweather', serif;
}

.nombre{
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 13%;
 
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}

.foto{
    width: 6vw;
    height: 15vh;
    border-radius: 5px;
}

.yo{
    font-size: 50px;
    margin: 10px;
    color: white;
}